In [1]:
import pandas as pd
data1 = pd.read_csv('./01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.csv', encoding='cp949')
data2 = pd.read_csv('./유동인구_clustering_final.csv')

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
import matplotlib.pyplot as plt

In [3]:
def get_year_month(x):
    return x[0:7]

In [4]:
data1['year_month'] = data1['base_date'].apply(lambda x: get_year_month(x))
data2['year_month'] = data2['base_date'].apply(lambda x: get_year_month(x))

In [5]:
cluster_data = pd.read_csv('clustering.csv')
cluster_data

       행정동코드  행정동명 관광인구  거주인구  cluster spot
0   50110590   건입동   Z형     1        7   제주
1   50110256   구좌읍   V형     2        5   성산
2   50130253   남원읍   Z형     1        7  서귀포
3   50110660   노형동   A형     3        3   제주
4   50130590   대륜동   Z형     3        9  서귀포
5   50130250   대정읍   V형     3        6   고산
6   50130600   대천동   Z형     3        9  서귀포
7   50110690   도두동   A형     3        3   제주
8   50130570   동홍동   Z형     3        9  서귀포
9   50110620   봉개동   A형     3        3   제주
10  50110550  삼도1동   A형     1        1   제주
11  50110560  삼도2동   Z형     1        7   제주
12  50110610   삼양동   A형     3        3   제주
13  50130580   서홍동   A형     3        3  서귀포
14  50130259   성산읍   Z형     2        8   성산
15  50130510   송산동   V형     1        4  서귀포
16  50110630   아라동   A형     3        3   제주
17  50130310   안덕면   V형     3        6   고산
18  50110253   애월읍   V형     3        6   제주
19  50110650    연동   Z형     3        9   제주
20  50130560   영천동   Z형     2        8  서귀포
21  50130620   예래동   Z형     2        8  서귀포
22  50110640   오라동   A형     3        3   제주
23  50110670   외도동   V형     3        6   제주
24  50110570  용담1동   A형     1        1   제주
25  50110580  용담2동   A형     1        1   제주
26  50110330   우도면   Z형     1        7   성산
27  50110530  이도1동   A형     1        1   제주
28  50110540  이도2동   A형     2        2   제주
29  50110680   이호동   Z형     3        9   제주
30  50110510  일도1동   Z형     1        7   제주
31  50110520  일도2동   A형     1        1   제주
32  50130520   정방동   V형     1        4  서귀포
33  50110259   조천읍   Z형     3        9   제주
34  50130610   중문동   Z형     3        9  서귀포
35  50130530   중앙동   Z형     1        7  서귀포
36  50130540   천지동   V형     2        5  서귀포
37  50110320   추자면   A형     1        1   제주
38  50130320   표선면   Z형     2        8   성산
39  50110310   한경면   V형     3        6   고산
40  50110250   한림읍   Z형     2        8   고산
41  50110600   화북동   A형     1        1   제주
42  50130550   효돈동   V형     1        4  서귀포

In [6]:
data1['cluster'] = 0

In [7]:
n=0
for i in set(cluster_data['cluster']):
    n+=1
    temp = cluster_data[cluster_data['cluster']==i]
    for j in set(temp['행정동명']):
        data1['cluster'][(data1['emd_nm']==j)] = n
        
data1.head()

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,base_date,city,emd_cd,emd_nm,em_area_cd,em_cnt,em_g,pay_amt,year_month,cluster
0,2018-01-01,제주시,50110670,외도동,W6X062,2,15500,464,2018-01,6
1,2018-01-01,제주시,50110630,아라동,W6XA97,25,59800,1787,2018-01,3
2,2018-01-01,제주시,50110630,아라동,W6XA96,8,25350,758,2018-01,3
3,2018-01-01,제주시,50110630,아라동,W6XA95,12,30000,898,2018-01,3
4,2018-01-01,제주시,50110630,아라동,W6XA94,14,44050,1317,2018-01,3

In [8]:
temp1 = data1.copy()
temp1 = temp1.groupby(['cluster', 'year_month']).sum().reset_index()

In [9]:
temp1['em_g'] = np.log(temp1['em_g'])

In [32]:
temp2 = data2.copy()
temp2_resd = temp2.groupby(['emd_cluster', 'age_cluster_resd', 'age_time_cluster_resd', 'year_month']).sum().reset_index()
temp2_work = temp2.groupby(['emd_cluster', 'age_cluster_work', 'age_time_cluster_work', 'year_month']).sum().reset_index()
temp2_visit = temp2.groupby(['emd_cluster', 'age_cluster_visit', 'age_time_cluster_visit', 'year_month']).sum().reset_index()

In [33]:
temp2_resd = temp2_resd[['emd_cluster', 'age_cluster_resd', 'age_time_cluster_resd', 'year_month', 'resd_pop_cnt']]
temp2_work = temp2_work[['emd_cluster', 'age_cluster_work', 'age_time_cluster_work', 'year_month', 'work_pop_cnt']]
temp2_visit = temp2_visit[['emd_cluster', 'age_cluster_visit', 'age_time_cluster_visit', 'year_month', 'visit_pop_cnt']]

In [76]:
method_resd = pd.DataFrame()
method_work = pd.DataFrame()
method_visit = pd.DataFrame()

In [77]:
from statsmodels.tsa.stattools import adfuller
temp_cluster = []
temp_diff = []
temp_log = []
temp_log_diff = []
for i in tqdm(set(temp2_resd['emd_cluster'])):
    temp_1 = temp2_resd[temp2_resd['emd_cluster']==i]
    for j in set(temp_1['age_cluster_resd']):
        temp_2 = temp_1[temp_1['age_cluster_resd']== j]
        for k in set(temp_2['age_time_cluster_resd']):
            temp_3 = temp_2['resd_pop_cnt'][temp_2['age_time_cluster_resd'] == k]
            temp_diff_result = adfuller(temp_3.diff()[1:])
            temp_result = adfuller(np.log(temp_3))
            temp_result_diff = adfuller(np.log(temp_3).diff()[1:])
            print("diff")
            print("p-values = ", round(temp_diff_result[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            print("log")
            print("p-values = ", round(temp_result[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            print("log.diff")
            print("p-values = ", round(temp_result_diff[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            temp_cluster.append(str(i) + '-' + str(j) + '-' + str(k))
            if (temp_diff_result[1] < 0.05):
                temp_diff.append(temp_diff_result[1])
            else:
                temp_diff.append(np.nan)
            if (temp_result[1] < 0.05):
                temp_log.append(temp_result[1])
            else:
                temp_log.append(np.nan)
            if (temp_result_diff[1] < 0.05):
                temp_log_diff.append(temp_result_diff[1])
            else:
                temp_log_diff.append(np.nan)

 22%|██▏       | 2/9 [00:00<00:00, 12.09it/s]

diff
p-values =  0.268  : emd_cluster 1  age_cluster 1  time_cluster 1
log
p-values =  0.957  : emd_cluster 1  age_cluster 1  time_cluster 1
log.diff
p-values =  0.243  : emd_cluster 1  age_cluster 1  time_cluster 1
diff
p-values =  0.005  : emd_cluster 1  age_cluster 1  time_cluster 2
log
p-values =  0.365  : emd_cluster 1  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 2
diff
p-values =  0.281  : emd_cluster 1  age_cluster 2  time_cluster 1
log
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 1
log.diff
p-values =  0.245  : emd_cluster 1  age_cluster 2  time_cluster 1
diff
p-values =  0.258  : emd_cluster 1  age_cluster 2  time_cluster 2
log
p-values =  0.004  : emd_cluster 1  age_cluster 2  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 1  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 1
log
p-values =  0.566  : emd_cluster 2  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 2
log
p-values =  0.239  : emd_cluster 2  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 2
diff
p-values =  0.33  : emd_cluster 2  age_cluster 2  time_cluster 1
log
p-values =  0.001  : emd_cluster 2  age_cluster 2  time_cluster 1
log.diff
p-values =  0.316  : emd_cluster 2  age_cluster 2  time_cluster 1
diff
p-values =  0.008  : emd_cluster 2  age_cluster 2  time_cluster 2
log
p-values =  0.014  : emd_cluster 2  age_cluster 2  time_cluster 2
log.diff
p-values =  0.007  : emd_cluster 2  age_cluster 2  time_cluster 2
diff
p-values =  0.031  : emd_cluster 3  age_cluster 1  time_cluster 1
log
p-values =  0.98  : emd_cluster 3  age_cluster 1  time_cluster 1
log.diff
p-values =  0.015  : emd_cluster 3  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
log
p-values =  0.762  : emd_cluster 3  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 3
log
p-values =  0.637  : emd_cluster 3  age_cluster 1  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 3
diff
p-values =  0.222  : emd_cluster 3  age_cluster 2  time_cluster 1
log
p-values =  0.202  : emd_cluster 3  age_cluster 2  time_cluster 1
log.diff
p-values =  0.197  : emd_cluster 3  age_cluster 2  time_cluster 1
diff
p-values =  0.001  : emd_cluster 3  age_cluster 2  time_cluster 2
log
p-values =  0.996  : emd_cluster 3  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 1
log
p-values =  0.118  : emd_cluster 4  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 2
log
p-values =  0.183  : emd_cluster 4  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 1
log
p-values =  0.157  : emd_cluster 4  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 2
log
p-values =  0.002  : emd_cluster 4  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 2
diff
p-values =  0.095  : emd_cluster 4  age_cluster 3  time_cluster 1
log
p-values =  0.976  : emd_cluster 4  age_cluster 3  time_cluster 1
log.diff
p-values =  0.07  : emd_cluster 4  age_cluster 3  time_cluster 1
diff
p-values =  0.003  : emd_cluster 4  age_cluster 3  time_cluster 2
log
p-values =  0.997  : emd_cluster 4  age_cluster 3  time_cluster 2
log.diff
p-values =  0.002  : emd_cluster 4  age_cluster 3  time_cluster 2
diff
p-values =  0.006  : emd_cluster 4  age_cluster 3  time_cluster 3
log
p-values =  0.637  : emd_cluster 4  age_cluster 3  time_cluster 3
log.diff
p-values =  0.001  : emd_cluster 4  age_cluster 3  time_cluster 3

 67%|██████▋   | 6/9 [00:00<00:00,  9.63it/s]

diff
p-values =  0.0  : emd_cluster 4  age_cluster 3  time_cluster 4
log
p-values =  0.929  : emd_cluster 4  age_cluster 3  time_cluster 4
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 3  time_cluster 4
diff
p-values =  0.34  : emd_cluster 5  age_cluster 1  time_cluster 1
log
p-values =  0.947  : emd_cluster 5  age_cluster 1  time_cluster 1
log.diff
p-values =  0.233  : emd_cluster 5  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 2
log
p-values =  0.824  : emd_cluster 5  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 2
diff
p-values =  0.167  : emd_cluster 5  age_cluster 2  time_cluster 1
log
p-values =  0.647  : emd_cluster 5  age_cluster 2  time_cluster 1
log.diff
p-values =  0.131  : emd_cluster 5  age_cluster 2  time_cluster 1
diff
p-values =  0.013  : emd_cluster 5  age_cluster 2  time_cluster 2
log
p-values =  0.973  : emd_cluster 5  age_cluster 2  time_cluster 2
log.diff
p-values =  0.01  : emd_cluster 5  age_cluster 2  time_cluster 2
diff
p-values =  0.322  : emd_cluster 6  age_cluster 1  time_cluster 1
log
p-values =  0.994  : emd_cluster 6  age_cluster 1  time_cluster 1
log.diff
p-values =  0.295  : emd_cluster 6  age_cluster 1  time_cluster 1
diff
p-values =  0.017  : emd_cluster 6  age_cluster 1  time_cluster 2
log
p-values =  0.921  : emd_cluster 6  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 2
diff
p-values =  0.002  : emd_cluster 6  age_cluster 1  time_cluster 3
log
p-values =  0.961  : emd_cluster 6  age_cluster 1  time_cluster 3
log.diff
p-values =  0.003  : emd_cluster 6  age_cluster 1  time_cluster 3
diff
p-values =  0.066  : emd_cluster 6  age_cluster 2  time_cluster 1
log
p-values =  0.977  : emd_cluster 6  age_cluster 2  time_cluster 1
log.diff
p-values =  0.055  : emd_cluster 6  age_cluster 2  time_cluster 1
diff
p-values =  0.002  : emd_cluster 6  age_cluster 2  time_cluster 2
log
p-values =  1.0  : emd_cluster 6  age_cluster 2  time_cluster 2
log.diff
p-values =  0.002  : emd_cluster 6  age_cluster 2  time_cluster 2

 89%|████████▉ | 8/9 [00:00<00:00,  9.89it/s]

diff
p-values =  0.55  : emd_cluster 7  age_cluster 1  time_cluster 1
log
p-values =  0.745  : emd_cluster 7  age_cluster 1  time_cluster 1
log.diff
p-values =  0.481  : emd_cluster 7  age_cluster 1  time_cluster 1
diff
p-values =  0.02  : emd_cluster 7  age_cluster 1  time_cluster 2
log
p-values =  0.921  : emd_cluster 7  age_cluster 1  time_cluster 2
log.diff
p-values =  0.014  : emd_cluster 7  age_cluster 1  time_cluster 2
diff
p-values =  0.108  : emd_cluster 7  age_cluster 2  time_cluster 1
log
p-values =  0.045  : emd_cluster 7  age_cluster 2  time_cluster 1
log.diff
p-values =  0.108  : emd_cluster 7  age_cluster 2  time_cluster 1
diff
p-values =  0.001  : emd_cluster 7  age_cluster 2  time_cluster 2
log
p-values =  0.948  : emd_cluster 7  age_cluster 2  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 7  age_cluster 2  time_cluster 2
diff
p-values =  0.611  : emd_cluster 8  age_cluster 1  time_cluster 1
log
p-values =  0.97  : emd_cluster 8  age_cluster 1  time_cluster 1
log.diff
p-values =  0.406  : emd_cluster 8  age_cluster 1  time_cluster 1
diff
p-values =  0.001  : emd_cluster 8  age_cluster 1  time_cluster 2
log
p-values =  0.954  : emd_cluster 8  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
diff
p-values =  0.105  : emd_cluster 8  age_cluster 2  time_cluster 1
log
p-values =  0.175  : emd_cluster 8  age_cluster 2  time_cluster 1
log.diff
p-values =  0.084  : emd_cluster 8  age_cluster 2  time_cluster 1
diff
p-values =  0.497  : emd_cluster 8  age_cluster 2  time_cluster 2
log
p-values =  0.183  : emd_cluster 8  age_cluster 2  time_cluster 2
log.diff
p-values =  0.454  : emd_cluster 8  age_cluster 2  time_cluster 2
diff
p-values =  0.006  : emd_cluster 8  age_cluster 2  time_cluster 3
log
p-values =  0.751  : emd_cluster 8  age_cluster 2  time_cluster 3
log.diff
p-values =  0.006  : emd_cluster 8  age_cluster 2  time_cluster 3
diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 1
log
p-values =  0.72  : emd_cluster 9  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 1

100%|██████████| 9/9 [00:00<00:00,  9.79it/s]

diff
p-values =  0.04  : emd_cluster 9  age_cluster 1  time_cluster 2
log
p-values =  0.752  : emd_cluster 9  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 2
diff
p-values =  0.044  : emd_cluster 9  age_cluster 1  time_cluster 3
log
p-values =  0.575  : emd_cluster 9  age_cluster 1  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 3
diff
p-values =  0.018  : emd_cluster 9  age_cluster 2  time_cluster 1
log
p-values =  0.991  : emd_cluster 9  age_cluster 2  time_cluster 1
log.diff
p-values =  0.306  : emd_cluster 9  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 2
log
p-values =  0.969  : emd_cluster 9  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 2

In [78]:
method_resd['cluster'] = temp_cluster
method_resd['diff'] = temp_diff
method_resd['log'] = temp_log
method_resd['log_diff'] = temp_log_diff
method_resd['method'] = method_resd[['diff', 'log', 'log_diff']].idxmin(axis=1)

In [79]:
method_resd

   cluster          diff       log      log_diff    method
0    1-1-1           NaN       NaN           NaN       NaN
1    1-1-2  4.587484e-03       NaN  1.394170e-06  log_diff
2    1-2-1           NaN  0.000006           NaN       log
3    1-2-2           NaN  0.003688  7.215007e-04  log_diff
4    2-1-1  1.594164e-12       NaN  8.817523e-13  log_diff
5    2-1-2  3.126959e-06       NaN  2.043626e-06  log_diff
6    2-2-1           NaN  0.000870           NaN       log
7    2-2-2  7.544002e-03  0.014279  6.970951e-03  log_diff
8    3-1-1  3.090758e-02       NaN  1.474423e-02  log_diff
9    3-1-2  6.642551e-08       NaN  3.022611e-08  log_diff
10   3-1-3  4.346963e-08       NaN  3.188942e-08  log_diff
11   3-2-1           NaN       NaN           NaN       NaN
12   3-2-2  5.666443e-04       NaN  4.658675e-04  log_diff
13   4-1-1  9.506191e-14       NaN  4.605029e-14  log_diff
14   4-1-2  8.664198e-06       NaN  1.097707e-05      diff
15   4-2-1  6.206922e-23       NaN  1.028830e-22      diff
16   4-2-2  8.480606e-16  0.001766  7.346354e-16  log_diff
17   4-3-1           NaN       NaN           NaN       NaN
18   4-3-2  3.410342e-03       NaN  2.303088e-03  log_diff
19   4-3-3  6.207966e-03       NaN  1.298773e-03  log_diff
20   4-3-4  5.702883e-09       NaN  8.348081e-09      diff
21   5-1-1           NaN       NaN           NaN       NaN
22   5-1-2  2.193238e-19       NaN  9.597393e-20  log_diff
23   5-2-1           NaN       NaN           NaN       NaN
24   5-2-2  1.273837e-02       NaN  9.569954e-03  log_diff
25   6-1-1           NaN       NaN           NaN       NaN
26   6-1-2  1.692214e-02       NaN  5.422949e-19  log_diff
27   6-1-3  2.261689e-03       NaN  2.631541e-03      diff
28   6-2-1           NaN       NaN           NaN       NaN
29   6-2-2  2.149013e-03       NaN  2.355755e-03      diff
30   7-1-1           NaN       NaN           NaN       NaN
31   7-1-2  2.036806e-02       NaN  1.380579e-02  log_diff
32   7-2-1           NaN  0.044512           NaN       log
33   7-2-2  1.129664e-03       NaN  1.454012e-03      diff
34   8-1-1           NaN       NaN           NaN       NaN
35   8-1-2  6.214240e-04       NaN  1.462491e-04  log_diff
36   8-2-1           NaN       NaN           NaN       NaN
37   8-2-2           NaN       NaN           NaN       NaN
38   8-2-3  6.023021e-03       NaN  5.811078e-03  log_diff
39   9-1-1  2.495743e-11       NaN  1.053346e-11  log_diff
40   9-1-2  4.017161e-02       NaN  4.517157e-06  log_diff
41   9-1-3  4.383465e-02       NaN  1.199409e-07  log_diff
42   9-2-1  1.758516e-02       NaN           NaN      diff
43   9-2-2  1.247030e-04       NaN  5.284430e-05  log_diff

In [80]:
from statsmodels.tsa.stattools import adfuller
temp_cluster = []
temp_diff = []
temp_log = []
temp_log_diff = []
for i in tqdm(set(temp2_work['emd_cluster'])):
    temp_1 = temp2_work[temp2_work['emd_cluster']==i]
    for j in set(temp_1['age_cluster_work']):
        temp_2 = temp_1[temp_1['age_cluster_work']== j]
        for k in set(temp_2['age_time_cluster_work']):
            temp_3 = temp_2['work_pop_cnt'][temp_2['age_time_cluster_work'] == k]
            temp_diff_result = adfuller(temp_3.diff()[1:])
            temp_result = adfuller(np.log(temp_3))
            temp_result_diff = adfuller(np.log(temp_3).diff()[1:])
            print("diff")
            print("p-values = ", round(temp_diff_result[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            print("log")
            print("p-values = ", round(temp_result[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            print("log.diff")
            print("p-values = ", round(temp_result_diff[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            temp_cluster.append(str(i) + '-' + str(j) + '-' + str(k))
            if (temp_diff_result[1] < 0.05):
                temp_diff.append(temp_diff_result[1])
            else:
                temp_diff.append(np.nan)
            if (temp_result[1] < 0.05):
                temp_log.append(temp_result[1])
            else:
                temp_log.append(np.nan)
            if (temp_result_diff[1] < 0.05):
                temp_log_diff.append(temp_result_diff[1])
            else:
                temp_log_diff.append(np.nan)

 11%|█         | 1/9 [00:00<00:01,  7.87it/s]

diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 1
log
p-values =  0.127  : emd_cluster 1  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 2
log
p-values =  0.001  : emd_cluster 1  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 1
log
p-values =  0.079  : emd_cluster 1  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 2
log
p-values =  0.644  : emd_cluster 1  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 1  age_cluster 3  time_cluster 1
log
p-values =  0.007  : emd_cluster 1  age_cluster 3  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 3  time_cluster 1
diff
p-values =  0.076  : emd_cluster 1  age_cluster 3  time_cluster 2
log
p-values =  0.096  : emd_cluster 1  age_cluster 3  time_cluster 2
log.diff
p-values =  0.07  : emd_cluster 1  age_cluster 3  time_cluster 2
diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 1
log
p-values =  0.811  : emd_cluster 2  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 2
log
p-values =  0.632  : emd_cluster 2  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 1
log
p-values =  0.737  : emd_cluster 2  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 2
log
p-values =  0.614  : emd_cluster 2  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 2

 22%|██▏       | 2/9 [00:00<00:00,  7.25it/s]

diff
p-values =  0.003  : emd_cluster 2  age_cluster 3  time_cluster 1
log
p-values =  0.006  : emd_cluster 2  age_cluster 3  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 3  time_cluster 1
diff
p-values =  0.001  : emd_cluster 2  age_cluster 3  time_cluster 2
log
p-values =  0.005  : emd_cluster 2  age_cluster 3  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 2  age_cluster 3  time_cluster 2
diff
p-values =  0.0  : emd_cluster 2  age_cluster 3  time_cluster 3
log
p-values =  0.007  : emd_cluster 2  age_cluster 3  time_cluster 3
log.diff
p-values =  0.001  : emd_cluster 2  age_cluster 3  time_cluster 3
diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 1
log
p-values =  0.046  : emd_cluster 3  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 1
log
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 1
log
p-values =  0.037  : emd_cluster 4  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 2
log
p-values =  0.316  : emd_cluster 4  age_cluster 1  time_cluster 2
log.diff
p-values =  0.002  : emd_cluster 4  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 1
log
p-values =  0.082  : emd_cluster 4  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 1

 44%|████▍     | 4/9 [00:00<00:00,  9.09it/s]

diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 2
log
p-values =  0.234  : emd_cluster 4  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 2
diff
p-values =  0.016  : emd_cluster 4  age_cluster 2  time_cluster 3
log
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 3
diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 1
log
p-values =  0.003  : emd_cluster 5  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 1
log
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 1
log
p-values =  0.161  : emd_cluster 6  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 3
log
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 3
diff
p-values =  0.0  : emd_cluster 6  age_cluster 2  time_cluster 1
log
p-values =  0.859  : emd_cluster 6  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 2  time_cluster 1

 78%|███████▊  | 7/9 [00:00<00:00,  9.31it/s]

diff
p-values =  0.0  : emd_cluster 6  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 6  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 1
log
p-values =  0.005  : emd_cluster 7  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 2
log
p-values =  0.001  : emd_cluster 7  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 2
diff
p-values =  0.005  : emd_cluster 7  age_cluster 2  time_cluster 1
log
p-values =  0.0  : emd_cluster 7  age_cluster 2  time_cluster 1
log.diff
p-values =  0.006  : emd_cluster 7  age_cluster 2  time_cluster 1
diff
p-values =  0.015  : emd_cluster 7  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 7  age_cluster 2  time_cluster 2
log.diff
p-values =  0.01  : emd_cluster 7  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 7  age_cluster 3  time_cluster 1
log
p-values =  0.019  : emd_cluster 7  age_cluster 3  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 3  time_cluster 1
diff
p-values =  0.0  : emd_cluster 7  age_cluster 3  time_cluster 2
log
p-values =  0.507  : emd_cluster 7  age_cluster 3  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 3  time_cluster 2
diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 1
log
p-values =  0.009  : emd_cluster 8  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
diff
p-values =  0.315  : emd_cluster 8  age_cluster 2  time_cluster 1
log
p-values =  0.012  : emd_cluster 8  age_cluster 2  time_cluster 1
log.diff
p-values =  0.399  : emd_cluster 8  age_cluster 2  time_cluster 1

100%|██████████| 9/9 [00:00<00:00,  9.22it/s]

diff
p-values =  0.017  : emd_cluster 8  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 8  age_cluster 2  time_cluster 2
log.diff
p-values =  0.017  : emd_cluster 8  age_cluster 2  time_cluster 2
diff
p-values =  0.014  : emd_cluster 8  age_cluster 3  time_cluster 1
log
p-values =  0.667  : emd_cluster 8  age_cluster 3  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 3  time_cluster 1
diff
p-values =  0.0  : emd_cluster 8  age_cluster 3  time_cluster 2
log
p-values =  0.018  : emd_cluster 8  age_cluster 3  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 3  time_cluster 2
diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 1
log
p-values =  0.028  : emd_cluster 9  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 9  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 1
log
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 2
log
p-values =  0.002  : emd_cluster 9  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 2

In [81]:
method_work['cluster'] = temp_cluster
method_work['diff'] = temp_diff
method_work['log'] = temp_log
method_work['log_diff'] = temp_log_diff
method_work['method'] = method_work[['diff', 'log', 'log_diff']].idxmin(axis=1)
method_work

   cluster          diff           log      log_diff    method
0    1-1-1  2.632947e-06           NaN  6.454771e-06      diff
1    1-1-2  5.888040e-07  9.767354e-04  2.437371e-07  log_diff
2    1-2-1  1.042193e-11           NaN  9.789899e-13  log_diff
3    1-2-2  2.648608e-08           NaN  1.875251e-08  log_diff
4    1-3-1  1.508606e-05  6.910566e-03  1.947996e-05      diff
5    1-3-2           NaN           NaN           NaN       NaN
6    2-1-1  3.878472e-14           NaN  1.062485e-15  log_diff
7    2-1-2  2.046895e-09           NaN  2.742936e-08      diff
8    2-2-1  3.191601e-09           NaN  1.665376e-09  log_diff
9    2-2-2  6.031790e-11           NaN  3.383691e-11  log_diff
10   2-3-1  3.466548e-03  6.273702e-03  3.368972e-12  log_diff
11   2-3-2  1.494427e-03  4.755416e-03  1.080130e-03  log_diff
12   2-3-3  2.967288e-12  6.967224e-03  5.282411e-04      diff
13   3-1-1  7.634359e-09  4.603793e-02  2.587106e-06      diff
14   3-1-2  2.061130e-09  1.053569e-04  1.977520e-07      diff
15   3-2-1  1.950051e-06  7.894494e-05  1.568783e-06  log_diff
16   3-2-2  9.509146e-09  2.260531e-06  5.423864e-09  log_diff
17   4-1-1  2.372550e-05  3.679664e-02  8.432416e-06  log_diff
18   4-1-2  2.279706e-06           NaN  2.255399e-03      diff
19   4-2-1  2.688705e-05           NaN  2.211822e-05  log_diff
20   4-2-2  8.028692e-07           NaN  4.371073e-07  log_diff
21   4-2-3  1.581650e-02  1.426460e-07  2.469765e-07       log
22   5-1-1  2.830254e-08  2.612317e-03  5.601735e-08      diff
23   5-1-2  3.251997e-07  5.716863e-06  1.571065e-08  log_diff
24   5-2-1  9.918075e-20  1.075668e-05  1.350414e-18      diff
25   5-2-2  3.831113e-20  5.185322e-05  1.075488e-18      diff
26   6-1-1  5.191572e-09           NaN  2.222736e-08      diff
27   6-1-2  3.039270e-08  2.199991e-04  9.602893e-08      diff
28   6-1-3  1.958891e-08  2.115435e-05  1.105604e-07      diff
29   6-2-1  8.295246e-09           NaN  9.415491e-09      diff
30   6-2-2  1.920390e-08  2.506092e-06  1.773115e-08  log_diff
31   7-1-1  8.789513e-11  4.532781e-03  5.058779e-10      diff
32   7-1-2  5.298425e-07  5.996575e-04  1.480972e-08  log_diff
33   7-2-1  5.044425e-03  2.655530e-05  5.874298e-03       log
34   7-2-2  1.507368e-02  9.183091e-08  1.049390e-02       log
35   7-3-1  3.123317e-10  1.870638e-02  1.966772e-10  log_diff
36   7-3-2  2.574700e-14           NaN  5.990323e-14      diff
37   8-1-1  1.992171e-11  9.169379e-03  1.998820e-09      diff
38   8-1-2  2.755156e-07  2.351041e-04  4.750098e-06      diff
39   8-2-1           NaN  1.222487e-02           NaN       log
40   8-2-2  1.710955e-02  5.916921e-07  1.692958e-02       log
41   8-3-1  1.365172e-02           NaN  4.057395e-07  log_diff
42   8-3-2  2.112263e-13  1.840833e-02  1.277237e-13  log_diff
43   9-1-1  1.763769e-11  2.821394e-02  2.486975e-12  log_diff
44   9-1-2  2.871646e-07  3.958043e-05  5.637038e-04      diff
45   9-2-1  5.876451e-06  2.919233e-07  4.620653e-06       log
46   9-2-2  3.126912e-05  1.537344e-03  3.354398e-05      diff

In [82]:
from statsmodels.tsa.stattools import adfuller
temp_cluster = []
temp_diff = []
temp_log = []
temp_log_diff = []
for i in tqdm(set(temp2_visit['emd_cluster'])):
    temp_1 = temp2_visit[temp2_visit['emd_cluster']==i]
    for j in set(temp_1['age_cluster_visit']):
        temp_2 = temp_1[temp_1['age_cluster_visit']== j]
        for k in set(temp_2['age_time_cluster_visit']):
            temp_3 = temp_2['visit_pop_cnt'][temp_2['age_time_cluster_visit'] == k]
            temp_diff_result = adfuller(temp_3.diff()[1:])
            temp_result = adfuller(np.log(temp_3))
            temp_result_diff = adfuller(np.log(temp_3).diff()[1:])
            print("diff")
            print("p-values = ", round(temp_diff_result[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            print("log")
            print("p-values = ", round(temp_result[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            print("log.diff")
            print("p-values = ", round(temp_result_diff[1],3), " : emd_cluster", i, ' age_cluster', j, ' time_cluster', k)
            temp_cluster.append(str(i) + '-' + str(j) + '-' + str(k))
            if (temp_diff_result[1] < 0.05):
                temp_diff.append(temp_diff_result[1])
            else:
                temp_diff.append(np.nan)
            if (temp_result[1] < 0.05):
                temp_log.append(temp_result[1])
            else:
                temp_log.append(np.nan)
            if (temp_result_diff[1] < 0.05):
                temp_log_diff.append(temp_result_diff[1])
            else:
                temp_log_diff.append(np.nan)

 22%|██▏       | 2/9 [00:00<00:00,  9.67it/s]

diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 1
log
p-values =  0.807  : emd_cluster 1  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 1  age_cluster 1  time_cluster 2
log.diff
p-values =  0.096  : emd_cluster 1  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 1
log
p-values =  0.072  : emd_cluster 1  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 1  age_cluster 2  time_cluster 2
log
p-values =  0.007  : emd_cluster 1  age_cluster 2  time_cluster 2
log.diff
p-values =  0.22  : emd_cluster 1  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 1
log
p-values =  0.931  : emd_cluster 2  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 1
diff
p-values =  0.057  : emd_cluster 2  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 2  age_cluster 1  time_cluster 2
log.diff
p-values =  0.056  : emd_cluster 2  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 1
log
p-values =  0.921  : emd_cluster 2  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 2  age_cluster 2  time_cluster 2
log
p-values =  0.975  : emd_cluster 2  age_cluster 2  time_cluster 2
log.diff
p-values =  0.141  : emd_cluster 2  age_cluster 2  time_cluster 2
diff
p-values =  0.244  : emd_cluster 2  age_cluster 2  time_cluster 3
log
p-values =  0.065  : emd_cluster 2  age_cluster 2  time_cluster 3
log.diff
p-values =  0.23  : emd_cluster 2  age_cluster 2  time_cluster 3
diff
p-values =  0.016  : emd_cluster 2  age_cluster 2  time_cluster 4
log
p-values =  0.016  : emd_cluster 2  age_cluster 2  time_cluster 4
log.diff
p-values =  0.014  : emd_cluster 2  age_cluster 2  time_cluster 4

 44%|████▍     | 4/9 [00:00<00:00, 10.99it/s]

diff
p-values =  0.008  : emd_cluster 3  age_cluster 1  time_cluster 1
log
p-values =  0.644  : emd_cluster 3  age_cluster 1  time_cluster 1
log.diff
p-values =  0.01  : emd_cluster 3  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 3  age_cluster 1  time_cluster 2
diff
p-values =  0.002  : emd_cluster 3  age_cluster 2  time_cluster 1
log
p-values =  0.002  : emd_cluster 3  age_cluster 2  time_cluster 1
log.diff
p-values =  0.001  : emd_cluster 3  age_cluster 2  time_cluster 1
diff
p-values =  0.001  : emd_cluster 3  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 3  age_cluster 2  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 3  age_cluster 2  time_cluster 2
diff
p-values =  0.006  : emd_cluster 4  age_cluster 1  time_cluster 1
log
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 1
log.diff
p-values =  0.007  : emd_cluster 4  age_cluster 1  time_cluster 1
diff
p-values =  0.001  : emd_cluster 4  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 4  age_cluster 1  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 4  age_cluster 1  time_cluster 2
diff
p-values =  0.017  : emd_cluster 4  age_cluster 2  time_cluster 1
log
p-values =  0.128  : emd_cluster 4  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 2
log
p-values =  0.062  : emd_cluster 4  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 4  age_cluster 2  time_cluster 2
diff
p-values =  0.006  : emd_cluster 5  age_cluster 1  time_cluster 1
log
p-values =  0.016  : emd_cluster 5  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 1
diff
p-values =  0.006  : emd_cluster 5  age_cluster 1  time_cluster 2
log
p-values =  0.001  : emd_cluster 5  age_cluster 1  time_cluster 2
log.diff
p-values =  0.054  : emd_cluster 5  age_cluster 1  time_cluster 2

 67%|██████▋   | 6/9 [00:00<00:00, 10.35it/s]

diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 3
log
p-values =  0.004  : emd_cluster 5  age_cluster 1  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 1  time_cluster 3
diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 1
log
p-values =  0.005  : emd_cluster 5  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 1
diff
p-values =  0.0  : emd_cluster 5  age_cluster 2  time_cluster 2
log
p-values =  0.527  : emd_cluster 5  age_cluster 2  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 5  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 1
log
p-values =  0.604  : emd_cluster 6  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 1
diff
p-values =  0.003  : emd_cluster 6  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 6  age_cluster 1  time_cluster 2
log.diff
p-values =  0.005  : emd_cluster 6  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 6  age_cluster 2  time_cluster 1
log
p-values =  0.787  : emd_cluster 6  age_cluster 2  time_cluster 1
log.diff
p-values =  0.514  : emd_cluster 6  age_cluster 2  time_cluster 1
diff
p-values =  0.096  : emd_cluster 6  age_cluster 2  time_cluster 2
log
p-values =  0.705  : emd_cluster 6  age_cluster 2  time_cluster 2
log.diff
p-values =  0.086  : emd_cluster 6  age_cluster 2  time_cluster 2
diff
p-values =  0.047  : emd_cluster 6  age_cluster 2  time_cluster 3
log
p-values =  0.844  : emd_cluster 6  age_cluster 2  time_cluster 3
log.diff
p-values =  0.039  : emd_cluster 6  age_cluster 2  time_cluster 3
diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 1
log
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 2
log
p-values =  0.004  : emd_cluster 7  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 2

 89%|████████▉ | 8/9 [00:00<00:00,  9.36it/s]

diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 3
log
p-values =  0.002  : emd_cluster 7  age_cluster 1  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 7  age_cluster 1  time_cluster 3
diff
p-values =  0.001  : emd_cluster 7  age_cluster 2  time_cluster 1
log
p-values =  0.002  : emd_cluster 7  age_cluster 2  time_cluster 1
log.diff
p-values =  0.001  : emd_cluster 7  age_cluster 2  time_cluster 1
diff
p-values =  0.001  : emd_cluster 7  age_cluster 2  time_cluster 2
log
p-values =  0.002  : emd_cluster 7  age_cluster 2  time_cluster 2
log.diff
p-values =  0.001  : emd_cluster 7  age_cluster 2  time_cluster 2
diff
p-values =  0.074  : emd_cluster 7  age_cluster 2  time_cluster 3
log
p-values =  0.0  : emd_cluster 7  age_cluster 2  time_cluster 3
log.diff
p-values =  0.002  : emd_cluster 7  age_cluster 2  time_cluster 3
diff
p-values =  0.039  : emd_cluster 8  age_cluster 1  time_cluster 1
log
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 1  time_cluster 2
diff
p-values =  0.005  : emd_cluster 8  age_cluster 2  time_cluster 1
log
p-values =  0.073  : emd_cluster 8  age_cluster 2  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 2  time_cluster 1
diff
p-values =  0.008  : emd_cluster 8  age_cluster 2  time_cluster 2
log
p-values =  0.08  : emd_cluster 8  age_cluster 2  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 2  time_cluster 2
diff
p-values =  0.0  : emd_cluster 8  age_cluster 3  time_cluster 1
log
p-values =  0.002  : emd_cluster 8  age_cluster 3  time_cluster 1
log.diff
p-values =  0.0  : emd_cluster 8  age_cluster 3  time_cluster 1
diff
p-values =  0.061  : emd_cluster 8  age_cluster 3  time_cluster 2
log
p-values =  0.0  : emd_cluster 8  age_cluster 3  time_cluster 2
log.diff
p-values =  0.057  : emd_cluster 8  age_cluster 3  time_cluster 2

100%|██████████| 9/9 [00:00<00:00,  9.72it/s]

diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 1
log
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 1
log.diff
p-values =  0.03  : emd_cluster 9  age_cluster 1  time_cluster 1
diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 2
log
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 2
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 2
diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 3
log
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 3
log.diff
p-values =  0.0  : emd_cluster 9  age_cluster 1  time_cluster 3
diff
p-values =  0.001  : emd_cluster 9  age_cluster 2  time_cluster 1
log
p-values =  0.003  : emd_cluster 9  age_cluster 2  time_cluster 1
log.diff
p-values =  0.001  : emd_cluster 9  age_cluster 2  time_cluster 1
diff
p-values =  0.014  : emd_cluster 9  age_cluster 2  time_cluster 2
log
p-values =  0.0  : emd_cluster 9  age_cluster 2  time_cluster 2
log.diff
p-values =  0.015  : emd_cluster 9  age_cluster 2  time_cluster 2

In [83]:
method_visit['cluster'] = temp_cluster
method_visit['diff'] = temp_diff
method_visit['log'] = temp_log
method_visit['log_diff'] = temp_log_diff
method_visit['method'] = method_visit[['diff', 'log', 'log_diff']].idxmin(axis=1)
method_visit

   cluster          diff           log      log_diff    method
0    1-1-1  2.575289e-10           NaN  4.116525e-11  log_diff
1    1-1-2  8.739016e-08  1.555946e-04           NaN      diff
2    1-2-1  5.201991e-06           NaN  5.094686e-06  log_diff
3    1-2-2  1.579049e-05  7.186624e-03           NaN      diff
4    2-1-1  7.490647e-07           NaN  7.652932e-08  log_diff
5    2-1-2           NaN  2.347280e-06           NaN       log
6    2-2-1  2.644115e-06           NaN  6.374258e-06      diff
7    2-2-2  1.196207e-08           NaN           NaN      diff
8    2-2-3           NaN           NaN           NaN       NaN
9    2-2-4  1.606930e-02  1.634997e-02  1.444056e-02  log_diff
10   3-1-1  8.129527e-03           NaN  9.997972e-03      diff
11   3-1-2  2.905306e-07  3.070778e-07  2.195055e-08  log_diff
12   3-2-1  1.597200e-03  2.488114e-03  9.446019e-04  log_diff
13   3-2-2  5.457716e-04  9.218827e-05  5.654780e-04       log
14   4-1-1  6.470158e-03  1.366781e-05  6.626629e-03       log
15   4-1-2  5.243914e-04  2.282585e-05  1.299496e-03       log
16   4-2-1  1.685857e-02           NaN  2.591145e-05  log_diff
17   4-2-2  4.427246e-05           NaN  1.469294e-21  log_diff
18   5-1-1  6.329509e-03  1.643556e-02  1.011703e-08  log_diff
19   5-1-2  5.855013e-03  8.951827e-04           NaN       log
20   5-1-3  2.826693e-07  3.710575e-03  8.597481e-15  log_diff
21   5-2-1  2.208293e-04  5.153884e-03  4.653059e-05  log_diff
22   5-2-2  4.648017e-12           NaN  9.601358e-04      diff
23   6-1-1  8.399503e-06           NaN  1.270782e-04      diff
24   6-1-2  3.357154e-03  4.058241e-08  4.817339e-03       log
25   6-2-1  2.617653e-04           NaN           NaN      diff
26   6-2-2           NaN           NaN           NaN       NaN
27   6-2-3  4.664363e-02           NaN  3.888851e-02  log_diff
28   7-1-1  2.424816e-07  1.441300e-04  3.101671e-07      diff
29   7-1-2  4.923881e-11  4.133224e-03  3.614579e-10      diff
30   7-1-3  4.546627e-07  1.853310e-03  4.683177e-07      diff
31   7-2-1  9.324596e-04  2.464564e-03  1.404132e-03      diff
32   7-2-2  1.330165e-03  1.688135e-03  1.277710e-03  log_diff
33   7-2-3           NaN  3.511064e-04  1.997317e-03       log
34   8-1-1  3.907559e-02  1.782536e-04  8.808808e-05  log_diff
35   8-1-2  2.637335e-06  2.932874e-04  2.182551e-06  log_diff
36   8-2-1  5.345321e-03           NaN  1.802438e-08  log_diff
37   8-2-2  7.953860e-03           NaN  7.799593e-09  log_diff
38   8-3-1  1.675762e-14  2.338216e-03  3.160388e-14      diff
39   8-3-2           NaN  4.340002e-04           NaN       log
40   9-1-1  1.874537e-08  2.082016e-05  3.030923e-02      diff
41   9-1-2  3.414004e-07  4.359896e-05  3.188727e-07  log_diff
42   9-1-3  1.868007e-07  1.124698e-04  1.634931e-07  log_diff
43   9-2-1  1.438693e-03  3.388934e-03  1.284039e-03  log_diff
44   9-2-2  1.431731e-02  4.040438e-04  1.461424e-02       log

In [84]:
method_resd

   cluster          diff       log      log_diff    method
0    1-1-1           NaN       NaN           NaN       NaN
1    1-1-2  4.587484e-03       NaN  1.394170e-06  log_diff
2    1-2-1           NaN  0.000006           NaN       log
3    1-2-2           NaN  0.003688  7.215007e-04  log_diff
4    2-1-1  1.594164e-12       NaN  8.817523e-13  log_diff
5    2-1-2  3.126959e-06       NaN  2.043626e-06  log_diff
6    2-2-1           NaN  0.000870           NaN       log
7    2-2-2  7.544002e-03  0.014279  6.970951e-03  log_diff
8    3-1-1  3.090758e-02       NaN  1.474423e-02  log_diff
9    3-1-2  6.642551e-08       NaN  3.022611e-08  log_diff
10   3-1-3  4.346963e-08       NaN  3.188942e-08  log_diff
11   3-2-1           NaN       NaN           NaN       NaN
12   3-2-2  5.666443e-04       NaN  4.658675e-04  log_diff
13   4-1-1  9.506191e-14       NaN  4.605029e-14  log_diff
14   4-1-2  8.664198e-06       NaN  1.097707e-05      diff
15   4-2-1  6.206922e-23       NaN  1.028830e-22      diff
16   4-2-2  8.480606e-16  0.001766  7.346354e-16  log_diff
17   4-3-1           NaN       NaN           NaN       NaN
18   4-3-2  3.410342e-03       NaN  2.303088e-03  log_diff
19   4-3-3  6.207966e-03       NaN  1.298773e-03  log_diff
20   4-3-4  5.702883e-09       NaN  8.348081e-09      diff
21   5-1-1           NaN       NaN           NaN       NaN
22   5-1-2  2.193238e-19       NaN  9.597393e-20  log_diff
23   5-2-1           NaN       NaN           NaN       NaN
24   5-2-2  1.273837e-02       NaN  9.569954e-03  log_diff
25   6-1-1           NaN       NaN           NaN       NaN
26   6-1-2  1.692214e-02       NaN  5.422949e-19  log_diff
27   6-1-3  2.261689e-03       NaN  2.631541e-03      diff
28   6-2-1           NaN       NaN           NaN       NaN
29   6-2-2  2.149013e-03       NaN  2.355755e-03      diff
30   7-1-1           NaN       NaN           NaN       NaN
31   7-1-2  2.036806e-02       NaN  1.380579e-02  log_diff
32   7-2-1           NaN  0.044512           NaN       log
33   7-2-2  1.129664e-03       NaN  1.454012e-03      diff
34   8-1-1           NaN       NaN           NaN       NaN
35   8-1-2  6.214240e-04       NaN  1.462491e-04  log_diff
36   8-2-1           NaN       NaN           NaN       NaN
37   8-2-2           NaN       NaN           NaN       NaN
38   8-2-3  6.023021e-03       NaN  5.811078e-03  log_diff
39   9-1-1  2.495743e-11       NaN  1.053346e-11  log_diff
40   9-1-2  4.017161e-02       NaN  4.517157e-06  log_diff
41   9-1-3  4.383465e-02       NaN  1.199409e-07  log_diff
42   9-2-1  1.758516e-02       NaN           NaN      diff
43   9-2-2  1.247030e-04       NaN  5.284430e-05  log_diff

In [96]:
temp1 = data1.groupby(['cluster', 'year_month']).sum().reset_index()
temp_cluster = []
temp_diff = []
temp_log = []
temp_log_diff = []
for i in tqdm(set(temp1['cluster'])):
    temp_1 = temp1['em_g'][temp1['cluster'] == i]
    temp_diff_result = adfuller(temp_1.diff()[1:])
    temp_log_result = adfuller(np.log(temp_1))
    temp_log_diff_result = adfuller(np.log(temp_1).diff()[1:])
    temp_cluster.append(i)
    if (temp_diff_result[1] < 0.05):
        temp_diff.append(temp_diff_result[1])
    else:
        temp_diff.append(np.nan)
    if (temp_log_result[1] < 0.05):
        temp_log.append(temp_log_result[1])
    else:
        temp_log.append(np.nan)
    if (temp_log_diff_result[1] < 0.05):
        temp_log_diff.append(temp_log_diff_result[1])
    else:
        temp_log_diff.append(np.nan)
    
method_emg = pd.DataFrame()
method_emg['cluster'] = temp_cluster
method_emg['diff'] = temp_diff
method_emg['log'] = temp_log
method_emg['log_diff'] = temp_log_diff
method_emg['method'] = method_emg[['diff', 'log', 'log_diff']].idxmin(axis=1)

100%|██████████| 10/10 [00:00<00:00, 58.81it/s]

In [155]:
temp_cluster = []
temp_result = []
n=0
from statsmodels.tsa.stattools import coint
for i in tqdm(set(temp2_resd['emd_cluster'])):
    temp_1 = temp2_resd[temp2_resd['emd_cluster'] == i]
    temp_emg = temp1[['em_g','year_month']][temp1['cluster'] == i].set_index('year_month')
    for j in set(temp_1['age_cluster_resd']):
        temp_2 = temp_1[temp_1['age_cluster_resd'] == j]
        for k in set(temp_2['age_time_cluster_resd']):
            temp_3 = temp_2[temp_2['age_time_cluster_resd'] == k].set_index('year_month')
            temp_method = method_resd['method'].iloc[n]
            temp_data = pd.merge(temp_emg, temp_3, on='year_month')
            temp_data['em_g'] = temp_data['em_g'].diff()
            
            
            if temp_method == 'diff':
                temp_data['resd_pop_cnt'] = temp_data['resd_pop_cnt'].diff().shift(1)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['resd_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            elif temp_method == 'log':
                temp_data['resd_pop_cnt'] = np.log(temp_data['resd_pop_cnt']).shift(2)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['resd_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            elif temp_method == 'log_diff':
                temp_data['resd_pop_cnt'] = np.log(temp_data['resd_pop_cnt']).diff().shift(1)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['resd_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            else:
                temp_result.append(np.nan)
                
            n += 1
            temp_cluster.append(str(i)+'-'+str(j)+'-'+str(k))
coint_resd = pd.DataFrame()
coint_resd['p_value'] = temp_result
coint_resd['cluster'] = temp_cluster

100%|██████████| 9/9 [00:00<00:00, 16.38it/s]

In [156]:
coint_resd

         p_value cluster
0            NaN   1-1-1
1   6.599533e-07   1-1-2
2   5.017554e-04   1-2-1
3   2.197145e-03   1-2-2
4   1.156834e-05   2-1-1
5   5.456032e-06   2-1-2
6   2.678354e-02   2-2-1
7   2.152055e-06   2-2-2
8            NaN   3-1-1
9   2.739012e-07   3-1-2
10  6.414804e-07   3-1-3
11           NaN   3-2-1
12  2.826399e-03   3-2-2
13  3.070870e-12   4-1-1
14  2.681458e-06   4-1-2
15  2.425940e-20   4-2-1
16  4.791642e-13   4-2-2
17           NaN   4-3-1
18           NaN   4-3-2
19           NaN   4-3-3
20  2.452633e-08   4-3-4
21           NaN   5-1-1
22  3.252603e-17   5-1-2
23           NaN   5-2-1
24  1.913054e-02   5-2-2
25           NaN   6-1-1
26  2.656166e-14   6-1-2
27  2.802938e-07   6-1-3
28           NaN   6-2-1
29  2.665515e-05   6-2-2
30           NaN   7-1-1
31  7.817517e-08   7-1-2
32  4.446931e-05   7-2-1
33  5.791195e-04   7-2-2
34           NaN   8-1-1
35  2.445921e-06   8-1-2
36           NaN   8-2-1
37           NaN   8-2-2
38           NaN   8-2-3
39  1.527358e-05   9-1-1
40  2.603831e-05   9-1-2
41  7.463078e-07   9-1-3
42  6.465082e-06   9-2-1
43  9.960734e-04   9-2-2

In [157]:
temp_cluster = []
temp_result = []
n=0
from statsmodels.tsa.stattools import coint
for i in tqdm(set(temp2_work['emd_cluster'])):
    temp_1 = temp2_work[temp2_work['emd_cluster'] == i]
    temp_emg = temp1[['em_g','year_month']][temp1['cluster'] == i].set_index('year_month')
    for j in set(temp_1['age_cluster_work']):
        temp_2 = temp_1[temp_1['age_cluster_work'] == j]
        for k in set(temp_2['age_time_cluster_work']):
            temp_3 = temp_2[temp_2['age_time_cluster_work'] == k].set_index('year_month')
            temp_method = method_work['method'].iloc[n]
            temp_data = pd.merge(temp_emg, temp_3, on='year_month')
            temp_data['em_g'] = temp_data['em_g'].diff()
            
            
            if temp_method == 'diff':
                temp_data['work_pop_cnt'] = temp_data['work_pop_cnt'].diff().shift(1)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['work_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            elif temp_method == 'log':
                temp_data['work_pop_cnt'] = np.log(temp_data['work_pop_cnt']).shift(2)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['work_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            elif temp_method == 'log_diff':
                temp_data['work_pop_cnt'] = np.log(temp_data['work_pop_cnt']).diff().shift(1)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['work_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            else:
                temp_result.append(np.nan)
                
            n += 1
            temp_cluster.append(str(i)+'-'+str(j)+'-'+str(k))
coint_work = pd.DataFrame()
coint_work['p_value'] = temp_result
coint_work['cluster'] = temp_cluster

100%|██████████| 9/9 [00:00<00:00, 13.23it/s]

In [158]:
coint_work

         p_value cluster
0   5.087684e-05   1-1-1
1   1.535025e-05   1-1-2
2   2.703214e-11   1-2-1
3   2.228787e-07   1-2-2
4   7.143049e-04   1-3-1
5            NaN   1-3-2
6   1.971107e-03   2-1-1
7   3.504658e-07   2-1-2
8   4.437939e-07   2-2-1
9            NaN   2-2-2
10  9.699735e-13   2-3-1
11  7.697414e-09   2-3-2
12  2.515143e-12   2-3-3
13  1.755019e-08   3-1-1
14  1.438034e-05   3-1-2
15  2.691942e-05   3-2-1
16  9.110959e-09   3-2-2
17  4.237555e-06   4-1-1
18  1.193243e-02   4-1-2
19  1.160113e-03   4-2-1
20  1.534151e-07   4-2-2
21  1.489945e-06   4-2-3
22  1.519740e-06   5-1-1
23  4.082610e-10   5-1-2
24  3.767952e-20   5-2-1
25  4.053241e-22   5-2-2
26  9.124013e-08   6-1-1
27  2.627584e-07   6-1-2
28  5.012717e-07   6-1-3
29  6.856091e-06   6-2-1
30  1.727172e-07   6-2-2
31           NaN   7-1-1
32  1.793796e-09   7-1-2
33  1.407723e-04   7-2-1
34  6.731773e-07   7-2-2
35  7.157808e-10   7-3-1
36  1.245719e-12   7-3-2
37  6.639022e-03   8-1-1
38  1.001306e-06   8-1-2
39           NaN   8-2-1
40           NaN   8-2-2
41  1.661239e-10   8-3-1
42  9.589591e-12   8-3-2
43  4.219755e-11   9-1-1
44  3.120631e-05   9-1-2
45  2.166977e-05   9-2-1
46  4.334150e-07   9-2-2

In [159]:
temp_cluster = []
temp_result = []
n=0
from statsmodels.tsa.stattools import coint
for i in tqdm(set(temp2_visit['emd_cluster'])):
    temp_1 = temp2_visit[temp2_visit['emd_cluster'] == i]
    temp_emg = temp1[['em_g','year_month']][temp1['cluster'] == i].set_index('year_month')
    for j in set(temp_1['age_cluster_visit']):
        temp_2 = temp_1[temp_1['age_cluster_visit'] == j]
        for k in set(temp_2['age_time_cluster_visit']):
            temp_3 = temp_2[temp_2['age_time_cluster_visit'] == k].set_index('year_month')
            temp_method = method_visit['method'].iloc[n]
            temp_data = pd.merge(temp_emg, temp_3, on='year_month')
            temp_data['em_g'] = temp_data['em_g'].diff()
            
            
            if temp_method == 'diff':
                temp_data['visit_pop_cnt'] = temp_data['visit_pop_cnt'].diff().shift(1)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['visit_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            elif temp_method == 'log':
                temp_data['visit_pop_cnt'] = np.log(temp_data['visit_pop_cnt']).shift(2)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['visit_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            elif temp_method == 'log_diff':
                temp_data['visit_pop_cnt'] = np.log(temp_data['visit_pop_cnt']).diff().shift(1)
                temp_data = temp_data.dropna()
                _, p_value, _ = coint(temp_data['visit_pop_cnt'], temp_data['em_g'])
                if (p_value > 0.05):
                    temp_result.append(np.nan)
                else:
                    temp_result.append(p_value)
            else:
                temp_result.append(np.nan)
                
            n += 1
            temp_cluster.append(str(i)+'-'+str(j)+'-'+str(k))
coint_visit = pd.DataFrame()
coint_visit['p_value'] = temp_result
coint_visit['cluster'] = temp_cluster

100%|██████████| 9/9 [00:00<00:00, 13.95it/s]

In [162]:
method_resd['coint'] = coint_resd['p_value']
method_work['coint'] = coint_work['p_value']
method_visit['coint'] = coint_visit['p_value']

In [167]:
method_resd.to_csv('result_resd.csv')
method_work.to_csv('result_work.csv')
method_visit.to_csv('result_visit.csv')