In [1]:
import pandas as pd
data1 = pd.read_csv('./01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.csv', encoding='cp949')
result1 = pd.read_csv('result1_final.csv', encoding='cp949')
result2 = pd.read_csv('result2_final.csv', encoding='cp949')

/home/duhyeong.lee/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
def get_year_month(x):
    return x[0:7]

In [3]:
data1['year_month'] = data1['base_date'].apply(lambda x: get_year_month(x))

In [4]:
temp1 = data1.copy()
temp1 = temp1.groupby(['emd_nm', 'year_month']).sum().reset_index()
temp1 = temp1[['emd_nm', 'year_month', 'em_g']]

In [5]:
temp1

     emd_nm year_month      em_g
0       건입동    2018-01  45646550
1       건입동    2018-02  42953550
2       건입동    2018-03  46422450
3       건입동    2018-04  42438700
4       건입동    2018-05  44893300
...     ...        ...       ...
1661    효돈동    2021-02  26128400
1662    효돈동    2021-03  26845400
1663    효돈동    2021-04  25200200
1664    효돈동    2021-05  21724850
1665    효돈동    2021-06  27554100

[1666 rows x 3 columns]

In [19]:
result1 = result1.set_index('Unnamed: 0')
result2 = result2.set_index('Unnamed: 0')

In [20]:
model2 = ['동두동', '삼도2동', '송산동', '아라동',
         '애월읍', '오라동', '용담2동', '이도2동',
         '이호동', '일도2동', '중앙동', '표선면', '한경면', '화북동']

In [21]:
result = result1.copy()

In [22]:
result = pd.DataFrame(index=sorted(set(temp1['emd_nm'])),
                     columns = ['2021-07', '2021-08'])

In [33]:
for i in set(temp1['emd_nm']):
    if i in model2:
        temp = temp1['em_g'][(temp1['emd_nm'] == i)]
        result.loc[i, '2021-07'] = result2.loc[i,'2021-07'] + list(temp)[-1]
        result.loc[i, '2021-08'] = result.loc[i, '2021-07'] + result2.loc[i, '2021-08']
        
    elif i == '알수없음':
        result.loc[i, '2021-07'] = np.nan
        result.loc[i, '2021-08'] = np.nan
    
    else:
        result.loc[i, '2021-07'] = result1.loc[i,'2021-07'] + list(temp)[-1]
        result.loc[i, '2021-08'] = result.loc[i, '2021-07'] + result1.loc[i, '2021-08']

In [34]:
result

          2021-07      2021-08
건입동   4.73304e+07  4.45357e+07
구좌읍   4.56128e+07  6.14577e+07
남원읍   4.43839e+07  4.23313e+07
노형동   1.21137e+08  1.21926e+08
대륜동   3.47739e+07  3.33412e+07
대정읍   1.21635e+08  1.29217e+08
대천동   2.71113e+07  3.05465e+07
도두동    2.2744e+08  2.27491e+08
동홍동   6.40057e+07  6.59233e+07
봉개동   4.19895e+07  4.15216e+07
삼도1동  2.27324e+08  2.27384e+08
삼도2동  2.46855e+07  2.45475e+07
삼양동   4.82731e+07  4.23219e+07
서홍동   2.25162e+08  2.26706e+08
성산읍   1.10554e+08  1.13999e+08
송산동   3.38923e+07  3.29877e+07
아라동   1.23601e+08  1.18465e+08
안덕면   1.06529e+08  1.10984e+08
알수없음          NaN          NaN
애월읍   1.07371e+08   1.0819e+08
연동     1.2393e+08  1.17298e+08
영천동   5.23115e+07  5.83676e+07
예래동   2.27748e+08  2.26912e+08
오라동   6.22142e+07  6.06618e+07
외도동   4.06971e+07  3.84942e+07
용담1동  4.27345e+07  4.18036e+07
용담2동  7.19129e+07   6.9942e+07
이도1동    4.378e+07  4.17821e+07
이도2동  2.25298e+08  2.25172e+08
이호동   2.54563e+07  2.62587e+07
일도1동  1.11697e+08  1.10818e+08
일도2동  1.49681e+08  1.51409e+08
정방동   1.05803e+08  1.07266e+08
조천읍   1.14196e+08  1.30322e+08
중문동   3.34493e+07  3.51472e+07
중앙동   4.81526e+07  4.95856e+07
천지동   2.98403e+07  2.75273e+07
표선면   4.60255e+07  4.43246e+07
한경면   3.00422e+07  3.17137e+07
한림읍   4.69444e+07  5.46482e+07
화북동     1.166e+08  1.15303e+08
효돈동   3.14506e+07  3.16575e+07

In [113]:
data1['em_g_diff'] = data1['em_g'].diff()
data1 = data1.iloc[14:, :]

In [123]:
data1['em_g'].iloc[-1] + data1['em_g_diff'].iloc[-12]

2694449.0

In [124]:
data1['em_g'].iloc[-1] + data1['em_g_diff'].iloc[-12] + data1['em_g_diff'].iloc[-11]

3709300.0

In [121]:
data1

   emd_nm year_month     em_g  em_g_diff
0    알수없음    2019-10   550350    67400.0
1    알수없음    2019-11   621300    70950.0
2    알수없음    2019-12   828350   207050.0
3    알수없음    2020-01   645900  -182450.0
4    알수없음    2020-02   337600  -308300.0
5    알수없음    2020-06   836200   498600.0
6    알수없음    2020-07  1372799   536599.0
7    알수없음    2020-08  2387650  1014851.0
8    알수없음    2020-09  2010300  -377350.0
9    알수없음    2020-10  2226900   216600.0
10   알수없음    2020-11  2088750  -138150.0
11   알수없음    2020-12  2147470    58720.0
12   알수없음    2021-01  2057700   -89770.0
13   알수없음    2021-02  1985100   -72600.0
14   알수없음    2021-03  2153800   168700.0
15   알수없음    2021-04  1936900  -216900.0
16   알수없음    2021-05  1910750   -26150.0
17   알수없음    2021-06  2157850   247100.0